# Intellij
*.iml
.idea

# npm
node_modules
yarn-error.log

# build
main.js
*.js.map
.log

# obsidian
data.json

# osx
.DS_Store

# asdf
.tool-versions

# Backup files.
*.bak

# If the folder is symlinked make sure this is not checked in.
.hotreload
.github/actions/obsidianlinks-to-mdlinks/__pycache__/utils.cpython-310.pyc
