# Intellij
*.iml
.idea

# npm
node_modules
yarn-error.log

# build
/main.js
*.js.map
.log

# obsidian
/data.json

# osx
.DS_Store

# asdf
.tool-versions

# files in sample vaults
/resources/sample_vaults/Tasks-Demo/.obsidian/workspace

# Backup files.
*.bak

# If the folder is symlinked make sure this is not checked in.
.hotreload

# Exclude py files if testing GH action locally
.github/actions/obsidian-vault-to-jekyll-markdown/__pycache__
